@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme variables (default) */
  --bg-primary: #FFFFFF;
  --bg-secondary: #FFFFFF;
  --bg-sidebar: #FFFFFF;
  --bg-toolbar: #715ec2;
  --bg-toolbar-btn: #d97706;
  --bg-toolbar-btn-hover: #b45309;
  --color-primary: #000000;
  --color-secondary: #141617;
  --color-accent: #b45309;
  --border-color: #EEEDF1;
  --code-bg: #ececec;
  --code-color: #b30000;
  --hint-bg: #cbcbcb;
  --secondary-text: #292929;
  --finished-text: #00810d;
  --finished-counter: #FFFFFF;
}

[data-theme="dark"] {
  /* Dark theme variables */
  --bg-primary: #0f172a;
  --bg-secondary: #1D1F21;
  --bg-sidebar: #0f172a;
  --bg-toolbar: #0f172a;
  --bg-toolbar-btn: #4D4D4D;
  --bg-toolbar-btn-hover: #626262;
  --color-primary: #ffffffde;
  --color-secondary: #BBBBBB;
  --color-accent: #E0E0E0;
  --border-color: #334155;
  --code-bg: #2d2d2d;
  --code-color: #ff9e9e;
  --hint-bg: #2d2d2d;
  --separator-color: #0F172A;
  --secondary-text: #99afd0;
  --finished-text: #4CAF50;
  --finished-counter: #99afd0;
}

body {
  margin: 0;
  overscroll-behavior: none;
  background-color: var(--bg-primary);
  color: var(--color-primary);
}

body:not(#editor) {
  font-family: "Inter", sans-serif;
}

*,
#noir__playground {
  border-width: 0;
  border-style: solid;
}

.markdown-body {
  /* Ensures markdown content wraps and doesn't overflow */
  word-break: break-word;
  overflow-wrap: anywhere;
  color: var(--secondary-text);
  font-weight: 300;
}

.markdown-body p, ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.markdown-body pre {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
  display: block;
  max-width: 100%;
  background: var(--hint-bg);
  border-radius: 4px;
  padding: 0.5em;
  margin: 0.5em 0;
}

.markdown-body :not(pre) > code {
  background: var(--code-bg);
  color: var(--code-color);
  border-radius: 3px;
  padding: 0.1em 0.3em;
  white-space: break-spaces;
}